.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  /**FIXME: probs don't want to hardcode **/
  width: 350px;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 32px;
}
