.mapboxgl-popup-content {
    border-radius: 14px;
    min-height: 64px;
}

.mapboxgl-popup-close-button {
  font-size: 20px;
  margin: 8px;
  
}

.mapboxgl-popup-close-button:hover {
  transform: scale(1.1);
  background: none;
}

.mapboxgl-popup-close-button:focus {
  outline: none;
}