#root {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: monospace;
}

#map-container {
  height: 100%;
  width: 100%;
  background-color: lightgrey;
}

h2 {
  font-size: 28px;
  margin: 0px;
  color: #1a1a1a;
  padding-bottom: 12px;
}

.loading {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin: auto;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}