:root {
  --color-primary: #007AD1;
  --font-mono: monospace;
}

#root {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: var(--font-mono);
}

#map-container {
  height: 100%;
  width: 100%;
  background-color: lightgrey;
}
